@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
}

body {
  color: #2c2c2c;
}

/* Main header */
#main-header {
  margin: 50px 0 20px;
}

#title {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1.25px;
}

#title:hover {
  cursor: default;
}

/* Search */
#search {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchBox {
  color: #2c2c2c;
  border-radius: 35px;
  border: 1px solid #aaaaaa;
  outline: none;
  padding: 14px;
  width: 350px;
  font-size: 16px;
}

#searchBox:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.075);
  transition: all 0.3s ease-in-out;
}

/* Player data */
#player-data {
  margin: 50px 0 30px;
  padding: 20px;
}

#player-header,
#player-description {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
}

#player-header h1 {
  font-size: 1.95rem;
}

#player-description {
  color: #6d6d6d;
  font-size: 1.05rem;
}

#player-stats {
  text-align: center;
  margin-top: 20px;
}

.main-avgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  line-height: 2.25rem;
}

.avg-main {
  font-weight: bold;
}

.heading-lg {
  font-size: 2.5rem;
}

.heading-md {
  font-size: 2rem;
}

.heading-sm {
  font-size: 1.15rem;
}

/* Season stats */
#season-header,
#season-avgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

#season-header {
  margin-bottom: 12px;
}

table {
  border-collapse: collapse;
  width: 40%;
  text-align: center;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 12px;
}

td {
  color: #6d6d6d;
}

/* Season dropdown menu */
#dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Errors */
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #646464;
  font-size: 1.05rem;
}

/* Basketball animation */
@-webkit-keyframes basketball {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes basketball {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
#basketball:hover {
  -webkit-animation: basketball 1s ease;
  animation: basketball 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Loading spinner */
.spinner {
  display: none;
  justify-content: center;
  align-items: center;
}

.spinner-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner-icon div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #64646457;
  animation: spinner-icon 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.spinner-icon div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.spinner-icon div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.spinner-icon div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes spinner-icon {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.show {
  display: flex;
}
