@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
}

:root {
  --color-primary: #2c2c2c;
  --color-secondary: #6d6d6d;
}

body {
  color: var(--color-primary);
}

/* Main header */
#main-header {
  margin: 50px 0 20px;
}

#title {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1.25px;
}

#title:hover {
  cursor: default;
}

/* Search */
#search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBox {
  color: var(--color-primary);
  border: 1px solid #aaaaaa;
  outline: none;
  padding: 5px;
  width: 150px;
  font-size: 16px;
}

.searchBox:hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.075);
  transition: all 0.3s ease-in-out;
}

/* Season dropdown menu */
#dropdown-menu {
  text-align: center;
  margin-top: 20px;
}

label {
  font-size: 1.15rem;
}

select {
  padding: 3px;
  font-size: 0.95rem;
  border: 1px solid #aaaaaa;
  border-radius: 15px;
  outline: none;
}

select:hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.055);
  transition: all 0.3s ease-in-out;
}

/* Player data */
#player-data {
  margin: 40px 0 10px;
  padding: 20px;
}

#player-header,
#player-description {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
}

#player-header h1 {
  font-size: 2.25rem;
}

#player-description {
  color: var(--color-primary);
  font-size: 1.25rem;
}

#player-background {
  margin-top: 5px;
}

#draft-info,
#college-info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary);
  font-size: 1.07rem;
  line-height: 1.75rem;
}

#player-stats {
  text-align: center;
  margin-top: 40px;
}

.main-avgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  line-height: 2.25rem;
}

.avg-main {
  font-weight: bold;
}

.avg-secondary {
  color: #464646;
}

.heading-lg {
  font-size: 2.5rem;
}

.heading-md {
  font-size: 2rem;
}

.heading-sm {
  font-size: 1.15rem;
}

/* Season stats */
#season-header,
#season-avgs {
  display: flex;
  align-items: center;
  justify-content: center;
}

#season-header {
  margin-bottom: 10px;
  color: var(--color-secondary);
}

table {
  margin-bottom: 50px;
  width: 50%;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.05rem;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 12px;
}

td {
  color: var(--color-secondary);
}

/* Errors */
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #646464;
  font-size: 1.05rem;
}

/* Basketball animation */
@-webkit-keyframes basketball {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes basketball {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
#basketball:hover {
  -webkit-animation: basketball 1s ease;
  animation: basketball 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Loading spinner */
.spinner {
  display: none;
  justify-content: center;
  align-items: center;
}

.spinner-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner-icon div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #64646457;
  animation: spinner-icon 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.spinner-icon div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.spinner-icon div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.spinner-icon div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes spinner-icon {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.show {
  display: flex;
}

/* Media queries */
@media screen and (max-width: 450px) {
  #player-header h1 {
    font-size: 1.75rem;
  }

  #player-description {
    text-align: center;
    font-size: 1.05rem;
  }

  .heading-lg {
    font-size: 2.15rem;
  }

  .heading-md {
    font-size: 1.65rem;
  }

  table {
    font-size: 0.75rem;
  }

  th,
  td {
    padding: 5px;
  }

  .screen-xsm {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #player-header h1 {
    font-size: 1.85rem;
  }

  #player-description {
    font-size: 1.15rem;
  }

  .heading-md {
    font-size: 1.75rem;
  }

  table {
    font-size: 1rem;
  }

  .screen-sm {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  th,
  td {
    padding: 10px;
  }

  .screen-md {
    display: none;
  }
}
